{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>번호</th><th>제목</th><th>작성일시</th><th>작성자</th>
            </tr>
        </thead>
        <tbody>
        {% if postList %}
        {% for post in postList %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'board:detail' post.id %}">{{ post.title }}</a></td>
            <td>{{ post.date }}</td>
            <td>{{ post.writer }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="3">게시물이 없습니다.</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>